<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta( charset = "utf-8")/
    %meta( content = "IE=edge,chrome=1" http-equiv= "X-UA-Compatible")/
    %title
    %meta( content = "" name = "description")/
    %meta( content = "width=device-width" name= "viewport")/
    %link( href = "components/bootstrap/dist/css/bootstrap.min.css" rel = "stylesheet")/

  %body(ng-app= "agilytics" ng-class= "{noScroll:noScroll}")
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser.
        %a(href="http://browsehappy.com/") Upgrade your browser today
        or
        %a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame
        to better experience this site.
    /[if lt IE 9]
      %script( src="components/es5-shim/es5-shim.js")
      %script( src="components/json3/lib/json3.min.js")
    / Add your site or application content here
    %header#top.navbar.navbar-static-top.bs-docs-nav{role: "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "../"}
            %span.glyphicon.glyphicon-signal
            %span.glyphicon-class Agilytics

        %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
          %ul.nav.navbar-nav
            %li.active
              %a{href: "/#boards"} Boards
            %li
              %a{href: "../css"} CSS
            %li
              %a{href: "../components"} Components
            %li
              %a{href: "../javascript"} JavaScript
            %li
              %a{href: "../customize"} Customize
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "http://expo.getbootstrap.com", onclick: "ga('send', 'event', 'Navbar', 'Community links', 'Expo');"} Expo
            %li
              %a{href: "http://blog.getbootstrap.com", onclick: "ga('send', 'event', 'Navbar', 'Community links', 'Blog');"} Blog

    .container{:style => "margin-top:40px", "ui-view" => ""}

    %script( src = "components/jquery/jquery.min.js" )
    %script( src = "components/underscore/underscore-min.js" )
    %script( src = "components/highcharts/highcharts.js" )
    %script( src = "components/angular/angular.js" )
    %script( src = "components/angular-ui-router/release/angular-ui-router.js" )
    %script( src = "components/angular-resource/angular-resource.js" )
    %script( src = "components/angular-cookies/angular-cookies.js" )
    %script( src = "components/angular-sanitize/angular-sanitize.js" )
    / app

    %script( src = "scripts/angular_app.js")
    %script( src = "scripts/controllers/boards_controller.js")
    / build:js scripts/scripts.js
    / services
    %script(src = "scripts/services/agileCubeService.js")
    %script(src = "scripts/services/utils.js")
    / controllers

    %script( src = "scripts/controllers/metrics.js")
    %script( src = "scripts/controllers/sprint_controller.js")
    / directives
    %script(src = "scripts/directives/assignee_board_summary.js")
    %script(src = "scripts/directives/board_summary.js")
    %script(src = "scripts/directives/board_summary_trend_line.js")
    %script(src = "scripts/directives/sprint_summary.js")
    %script(src = "scripts/directives/sprint_unstacked_bar_graph.js")
    / endbuild
    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));