<!doctype html>
/
/
  So you'd like to know how to use impress.js?

  You've made the first, very important step -- you're reading the source code.
  And that's how impress.js presentations are built -- with HTML and CSS code.

  Believe me, you need quite decent HTML and CSS skills to be able to use impress.js effectively.
  And what is even more important, you need to be a designer, too, because there are no default
  styles for impress.js presentations, there is no default or automatic layout for them.

  You need to design and build it by hand.

  So...

  Would you still like to know how to use impress.js?
%html(lang = "en")
  %head
    %meta(charset = "utf-8")/
    %meta(content = "width=1024" name = "viewport")/
    %meta(content = "yes" name = "apple-mobile-web-app-capable")/
    %title Modern Web Development & Methodologies : Regularity, Simplicity & Ease - Fun
    %meta(content = "Modern Web Development & Methodologies : Regularity, Simplicity & Ease - Fun" name = "description")/
    %meta(content = "Alan Huffman" name = "author")/
    %link( href = "components/google-code-prettify/src/prettify.css" rel = "stylesheet")/
    %link( href = "components/impressjs/css/impress-demo.css" rel = "stylesheet")/
    %link( href = "components/impressjs/favicon.png" rel = "shortcut icon")/
    %link( href = "components/impressjs/apple-touch-icon.png" rel = "apple-touch-icon")/

  %body.impress-not-supported
    .fallback-message
      %p
        Your browser
        %b doesn't support the features required
        by impress.js, so you are presented with a simplified version of this presentation.
      %p
        For the best experience please use the latest
        = succeed "," do
          %b Chrome
        %b Safari
        or
        %b Firefox
        browser.

    #impress
      #overview.step(data-scale="200")

      #variability.step(data-scale="200" data-x="-5000" data-y="2500" )
        %div.dimboxed.dim(style="font-size:35px; width:200px; float:left; height:300px; margin-left:250px")
          3 MOST IMPORTANT THINGS WHEN DESIGNING SOFTWARE
        %div.boxed(style="width:200px; float:left; height:300px")
          %h1.dim REDUCE
          %h2( style="margin-top:25px" )
            %span.dim +
            Ceremony
          %h2( style="margin-top:25px" )
            %span.dim +
            Complexity
          %h2( style="margin-top:25px" )
            %span.dim +
            Variation

      #cermony.step(data-x="-4500" data-y="-4500")
        %div(style="margin-top:-50px")
          %h1 cer·e·mo·ny
          %h2 /ˈserəˌmōnē/
          %a(href="http://www.merriam-webster.com/dictionary/ceremony" style="font-size:35px") An action performed only formally with no deep significance.

          %div(style="float:left; width:500px;")
            %div(style="font-size:20px; margin-top:20px; width:440px")
              %div( style="background-color:#999; padding-left:10px; color:white;")Java
              %div( style="background-color:#EFEFEF; border: 1px solid #999; padding-left:10px")
                %span(style="color:red")
                  ArrayList&lt;String&gt;
                aList = new ArrayList<String>()
                %span( style="color:red" )>;
                %br
                %pre( style="background-color: inherit;" )
                  :preserve

                    button.addActionListener(
                      <span style="color:red"> new ActionListener() {</span>
                          <span style="color:red">public void actionPerformed(ActionEvent e)
                          {</span>
                              // do something.
                          <span style="color:red">}
                      }</span>
                    )<span style="color:red">;</span>


            %div(style="font-size:20px; padding-top:20px; width:440px;")
              %div( style="background-color:#999; padding-left:10px; color:white;") C#
              %pre( style="background-color:#EFEFEF; padding-left:10px; border: 1px solid #999;" )
                :preserve
                  public class MyClass
                  <span style="color:red">{</span>
                      <span style="color:red">private int _age;</span>

                      public int Age <span style="color:red">{</span>
                            get<span style="color:red">{ return _age;  }</span>
                            set<span style="color:red">{ _age = value; }</span>
                      <span style="color:red">}</span>
                  <span style="color:red">}</span>
          %div(style="float:left; width:500px;")
            %div(style="font-size:20px; margin-top:20px; width:400px")
              %div(style="font-size:20px; margin-top:20px; width:400px")
                %div( style="background-color:#999; padding-left:10px; color:white;")Javascript
                %pre( style="background-color:#EFEFEF; padding-left:10px; border: 1px solid #999;" )
                  :preserve
                    $("#mydiv").click(<span style="color:red">function(){</span>
                      alert<span style="color:red">(</span>"you clicked me"<span style="color:red">);</span>
                    <span style="color:red">}</span>)<span style="color:red">;</span>

          %div(style="float:left; width:500px;")
            %div(style="font-size:20px; margin-top:20px; width:400px")
              %div(style="font-size:20px; margin-top:20px; width:400px")
                %div( style="background-color:#999; padding-left:10px; color:white;")HTML
                %pre( style="background-color:#EFEFEF; padding-left:10px; border: 1px solid #999;" )
                  :preserve
                      &lt;h1<span style="color:red">&gt;</span> hello world! <span style="color:red">&lt;/h1&gt;</span>
                      &lt;div<span style="color:red">&gt;</span> ugh, brackets <span style="color:red">&lt;/div&gt;</span>

          %div(style="float:left; width:500px;")
            %div(style="font-size:20px; margin-top:20px; width:400px")
              %div(style="font-size:20px; margin-top:20px; width:400px")
                %div( style="background-color:#999; padding-left:10px; color:white;")CSS
                %pre( style="background-color:#EFEFEF; padding-left:10px; border: 1px solid #999;" )
                  :preserve
                      #header h1 {
                        font-size: 26px;
                        font-weight: bold;
                      }
                      <span style="color:red">#header</span> p {
                        font-size: 12px;
                      }
                      <span style="color:red">#header p</span> a {
                        text-decoration: none;
                      }
                      <span style="color:red">#header p a</span>:hover {
                        border-width: 1px;
                      }
          %div(style="font-size:15px; float:left; margin-top:-15px;")
            Links of interest
            %a( href="http://thinkrelevance.com/blog/2008/04/23/refactoring-from-ceremony-to-essence" ) From Ceremony to Essence

      #ceremony-1.step(data-x="-3000" data-y="-4500" style="font-size:20px; overflow:auto; height:840px; margin-top:0" )
        %div.dim(style="font-size:60px; margin-bottom:35px") Only so many key strokes in life...
        %div.panel(style="float:left; width:500px; font-size:20px; margin-right:50px; margin-top:-20px")
          %h1(style="font-size:25px") JavaScript
          %pre.prettyprint.linenums
            :preserve
              var x, math, answer, square2,
                  cube2, sqrtCube2;

              x = function(){
                return "hello math!";
              }

              math = {
                hello: x(),
                root: Math.sqrt,
                square: function(x){ return x * x; },
                cube: function(x){ return x * x * x; }
              }

              square2 = math.square(2);
              cube2 = math.cube(2);
              sqrtCube2 = math.root(cube2);

              $out.html( math.hello )
                  .append( "2*2 = " + square2 )
                  .append( "2*2*2 = " + cube2 )
                  .append( "root 6 = " + sqrtCube2 )

        %div.panel(style="float:left; width:500px; font-size:20px; margin-top:-20px")
          %h1(style="font-size:25px") Coffeescript
          %pre.prettyprint.coffee.linenums( data-res="jsr-0" )
            :preserve
              x = -> "hello math!"

              math =
                hello: x()
                root: Math.sqrt
                square: (x)-> return x * x
                cube: (x)-> x * x * x

              square2 = math.square 2
              cube2 = math.cube 2
              sqrtCube2 = math.root cube2

              $out.html( math.hello )
                  .append( "2*2 = " + square2 )
                  .append( "2*2*2 = " + cube2 )
                  .append( "root 6 = " + sqrtCube2 )

      #cermony-2.step(data-x="-1500" data-y="-4500" style="font-size:20px; overflow:auto; height:840px; margin-top:0" )
        %div.dim(style="font-size:60px; margin-bottom:35px")
          Putting the fun back in to &nbsp;
          %span(style="color:black")> fun
          ction.

        %div.panel(style="float:left; width:550px; font-size:20px; margin-right:50px; margin-top:-20px")
          %h1(style="font-size:25px") JavaScript
          %pre.prettyprint.linenums
            :preserve
              var res, calculator;
              calculator = function(num) {
                  return {
                      plus: function(num2) {
                          return calculator(num + num2);
                      },
                      minus: function(num2) {
                          return calculator(num - num2);
                      },
                      times: function(num2) {
                          return calculator(num * num2);
                      },
                      divideBy: function(num2) {
                          return calculator(num / num2);
                      },
                      result: function() {
                          return num;
                      }
                  };
              };

                res = (2 + 2 - 1) * 8 / 2;

                $out.html(res + " == " + calculator(2).plus(2).minus(1)
                                                            .times(8).divideBy(2).result());

        %div.panel(style="float:left; width:550px; font-size:20px; margin-top:-20px")
          %h1(style="font-size:25px") Coffeescript
          %pre.prettyprint.coffee.linenums
            :preserve
              calculator = (num)->
                plus: (num2)-> calculator(num + num2)
                minus: (num2)-> calculator(num - num2)
                times: (num2)-> calculator(num * num2)
                divideBy: (num2)-> calculator(num / num2)
                result: -> num

              res = (2 + 2 - 1) * 8 / 2

              $out.html res + " == " + calculator(2).plus(2).minus(1)
                                                            .times(8).divideBy(2).result()

      #cermony-3.step(data-x="0" data-y="-4500" style="font-size:20px; overflow:auto; height:840px; margin-top:0" )
        %div.dim(style="font-size:60px; margin-bottom:35px")
          Coffiescript is&nbsp;
          %span(style="color:black")>class
          ier than javascript

        %div.panel(style="float:left; width:550px; font-size:20px; margin-right:50px; margin-top:-20px")
          %h1(style="font-size:25px") JavaScript
          %pre.prettyprint.linenums.runMe
            :preserve
              Person = function(name, dobStr){
                this.name = name;
                this.DOB = dobStr;
              }

              Person.prototype.sayName = function(){
                return "My name is " + this.name;
              }

              Person.prototype.sayAge = function(){
                return "My age is " + this.calculateAge(this.DOB);
              }

              Person.prototype.calculateAge = function(dateStr){
                var now = new Date(),
                    date = new Date(dateStr),
                    age = now.getFullYear() - date.getFullYear(),
                    m = now.getMonth() - date.getMonth();

                if (m < 0 || (m === 0 && now.getDate() < date.getDate())) {
                    age--;
                }

                return age;
              }

              var p = new Person("Alan Huffman", "02/21/1975");
              $out.html(p.sayAge());

        %div.panel(style="float:left; width:550px; font-size:20px; margin-top:-20px")
          %h1(style="font-size:25px") Coffeescript
          %pre.prettyprint.coffee.linenums
            :preserve
              class Person
                constructor: (name, dobStr) ->
                  @name = name
                  @DOB = dobStr

                sayName: ->
                  "My name is " + @name

                sayAge: ->
                  "My age is " + @calculateAge this.DOB

                calculateAge: (dateStr)->
                  now = new Date()
                  date = new Date(dateStr)
                  age = now.getFullYear() - date.getFullYear()
                  m = now.getMonth() - date.getMonth()
                  if m < 0 || (m == 0 && now.getDate() < date.getDate())
                    age--
                  age

              p = new Person("Alan Huffman", "02/21/1975")
              $out.html p.sayAge()


      #cermony-4.step(data-x="1500" data-y="-4500" style="font-size:20px; overflow:auto; height:840px; margin-top:0" )
        %div.dim(style="font-size:60px; margin-bottom:35px")
          Coffiescript is &nbsp;
          %span(style="color:black")>class
          ier and &nbsp;
          %span(style="color:black")>Safer too!

        %div.panel(style="float:left; width:550px; font-size:20px; margin-right:50px; margin-top:-20px")
          %h1(style="font-size:25px") JavaScript
          %pre.prettyprint.linenums
            :preserve

              var Doctor, p,
                  __hasProp = {}.hasOwnProperty,
                  __extends = function(child, parent) {
                      for (var key in parent) {
                          if (__hasProp.call(parent, key)) child[key] = parent[key];
                      }

                      function ctor() {
                          this.constructor = child;
                      }
                      ctor.prototype = parent.prototype;
                      child.prototype = new ctor();
                      child.__super__ = parent.prototype;
                      return child;
                  };
                  Doctor = (function(_super) {
                      __extends(Doctor, _super);

                      function Doctor(specialty, name, dobStr) {
                          this.specialty = specialty;
                          Doctor.__super__.constructor.call(this, name, dobStr);
                      }
                      Doctor.prototype.saySpecialty = function() {
                          return "My specialty is " + this.specialty;
                      };
                      return Doctor;
                  })(Person);

              p = new Doctor("Heart", "Alan Huffman", "02/21/1975");
              $out.html( p.sayAge() + ". " + p.saySpecialty() )

        %div.panel(style="float:left; width:550px; font-size:20px; margin-top:-20px")
          %h1(style="font-size:25px") Coffeescript
          %pre.prettyprint.coffee.linenums
            :preserve
              class Doctor extends Person
                constructor: (specialty, name, dobStr) ->
                  @specialty = specialty
                  super name, dobStr

                saySpecialty: ->
                  "My specialty is " + @specialty

              p = new Doctor("Heart", "Alan Huffman", "02/21/1975")
              $out.html p.sayAge() + ". " + p.saySpecialty()

      #deming0.step(data-x="-4500" data-y="0")
        %div(style="margin:0 auto; width:900px")
          %img(src="img/devlink/deming/D0.gif" style="float:left")
          %div(style="float:left; width:600px; padding-left:50px")
            %h1.dim W. Edwards Deming
            %h2 Is the most important business management leader you've never heard of.

      #deming1.step(data-x="-3000" data-y="0")
        %h1.dim(style="margin:0 auto; width:520px") He wasn't just sexy.
        %div(style="margin:0 auto; width:550px")
          %img(src="img/devlink/deming/D1.jpg" style="height:200px")
          %img(src="img/devlink/deming/D2.gif" style="height:200px")
          %img(src="img/devlink/deming/D3.jpeg" style="height:200px")
        %h2(style="margin:0 auto; width:900px") He mastered statistics without losing his humanity.

      #deming2.step(data-x="-1500" data-y="0" style="height:500px")
        %div.vdim(style="position:absolute; margin-top:-175px;")
          %img(src="img/devlink/deming/D0.gif" style="width:50px; margin-right:15px")
          %span(style="font-size:2em;") Deming
        %div( style="margin-top:-20px; font-size:40px" )
          %h1(style="font-size:40px") Lead an extraordinary life quietly filled with accolades.
          %div.vdim The early years:
          %div(style="margin-bottom:15px")
            %img( style="width:50px; float:left; margin-top:10px; margin-right:20px" src="img/devlink/deming/UW%20Logo.jpg" )
            %div( style="margin-left:50px;" )BS: University of Wyoming

          %div(style="margin-bottom:15px")
            %img( style="width:50px; float:left; margin-top:10px; margin-right:20px;" src="img/devlink/deming/UniversityOfColorado.gif" )
            %div( style="margin-left:50px;" )MS: University of Colorado,

          %div(style="margin-bottom:15px")
            %img( style="width:50px; float:left; margin-right: 20px" src="img/devlink/deming/yalelogo2.jpeg" )
            PhD: Yale

          %div(style="margin-bottom:15px")
            %img( style="width:50px; float:left; margin-right:20px" src="img/devlink/deming/Census-Bureau-Logo.png" )
            %div( style="margin-left:50px;" )Head Mathematician: first to use sampling in a Census (1940).

          %div(style="margin-bottom:15px") 1947: Rice Statistics Mission member.

          %div(style="margin-bottom:15px") 1950: Assistant to the Supreme Commander of the Allied Powers.



      #deming3.step(data-x="0" data-y="0" style="height:500px")
        %div.vdim(style="position:absolute; margin-top:-175px;")
          %img(src="img/devlink/deming/D0.gif" style="width:50px; margin-right:15px")
          %span(style="font-size:2em;") Deming
        %img( src="img/devlink/deming/japan-surrenders-world-war-2-ends-8.jpg" )
        %div(style="color: #666; font-size:125px; float:right; margin-right:120px")
          %span.vdim WWII
          %br
          Japan
          %br
          Surrenders

      #deming4.step(data-x="1500" data-y="0" style="height:500px")
        %div.vdim(style="position:absolute; margin-top:-175px;")
          %img(src="img/devlink/deming/D0.gif" style="width:50px; margin-right:15px")
          %span(style="font-size:2em;") Deming
        %br
        %b 1950:
        Taught the Japanese Statistical Process Control
        %br
          %span(style="font-size:30px; margin-left:200px")
            (What he later called
            %b System of Profound Knowledge)
        %br
        %div(style="font-size=50px; background-color:white; padding-left:10px; padding-right:10px; margin-left:-10px")
          %div.vdim
            %span(style="float:left; margin-top:5px") 10 YEARS LATER!
            %img(style="margin-left:15px; float:left; height:75px" src="img/devlink/deming/Toyota11.jpg")
            %img(style="margin-left:15px; float:left; height:75px" src="img/devlink/deming/sony_416x416.jpg")
            %img(style="margin-left:15px; float:left; height:75px" src="img/devlink/deming/nissan-logo1.jpg")
            %img(style="margin-left:15px; float:left; height:75px" src="img/devlink/deming/Honda_logo_2.jpeg")
          %div(style="clear:both")
            %b 1960:
            Japan's manufacturing was the envy of the world.


      #deming5.step(data-x="-4500" data-y="1000" style="height:500px")
        %div(style="float:left")
          %div.vdim(style="position:absolute; margin-top:-175px;")
            %img(src="img/devlink/deming/D0.gif" style="width:50px; margin-right:15px")
            %span(style="font-size:2em;") Deming
          %div(style="margin-top:50px;")
            %a( href="http://en.wikipedia.org/wiki/Quality_management" ) Quality Management
          %div
            %a( href="http://en.wikipedia.org/wiki/W._Edwards_Deming#Key_principles" ) 14 Key Principles
          %div
            %a.plain( href="http://www.hci.com.au/hcisite2/articles/deming.htm") #5.
            %span(style="font-size:30px")Constantly strive to reduce variation.
        %img(src="img/devlink/deming/DemingCloud.png" style="float:right; width:500px; margin-top:0px")

      #variation-shipping.step(data-x="-3000" data-y="1000" style="height:500px")
        %div.vdim(style="position:absolute; margin-top:-175px;")
          Example of Variation
        %div(style="margin-top:-100px")
          %h1 Shipping used to be haphazard, disorganized
          "Break Bulk"
          %div
            %img( style="width:275px" src="img/devlink/deming/banannas-break-bulk.jpg" )
            %img( style="width:275px" src="img/devlink/deming/break-bulk-1.jpg" )
            %img( style="width:275px" src="img/devlink/deming/break-bulk-3.jpeg" )
          %div
            %img( style="width:800px" src="img/devlink/deming/break-bulk-2.jpg" )


      #variation-shipping-1.step(data-x="-1500" data-y="1000" style="height:500px")
        %div.vdim(style="position:absolute; margin-top:-175px;")
          Example of Variation
        %div(style="margin-top:-100px")
          %h1(style="font-size:35px;margin-bottom:20px") Containers standardized shipping & changed the world.
          %div
            %img( style="width:500px; height:275px" src="img/devlink/deming/container.jpg" )
            %img( style="width:500px; height:275px" src="img/devlink/deming/container_ships.png" )
            %img( style="width:500px; height:275px" src="img/devlink/deming/containers_trains.jpg" )
            %img( style="width:500px; height:275px" src="img/devlink/deming/containers_trucks.jpg" )

      #variation-2.step(data-x="0" data-y="1000" style="height:500px")
        %div.vdim(style="position:absolute; margin-top:-175px;")
          Other Example of Variation
        %div(style="margin-top:-100px")
          %h1(style="font-size:35px;margin-bottom:20px") The pursuit of reducing variation is everywhere.
          %div
            %img( style="height:275px" src="img/devlink/deming/plugs.jpeg" )
            %img( style="height:275px" src="img/devlink/deming/nuts-bolts.jpg" )
            %img( style="height:275px" src="img/devlink/deming/lumber_from_log_lg.jpg" )
          %div
            %img( style="width:500px; height:275px" src="img/devlink/deming/Volkswagen-MQB-Platform.jpg" )
            %img( style="width:500px; height:275px" src="img/devlink/deming/Nissan-Common-Module-Family-diagram-1500x996.jpg" )

      #variation-3.step(data-x="1500" data-y="1000" style="height:500px")
        %div.dim(style="position:absolute; margin-top:-175px;")
          Software solutions scale when variation is reduced.
        %div(style="margin-top:-100px")
          %h1(style="font-size:35px;margin-bottom:20px")
          %div( style="float:left; width: 600px;")
            %img( style="width:600px" src="img/devlink/deming/HTTP-anotomy.jpg" )
            %div( style="font-size:60px; padding-left:10px; color:#666")Internet is the largest application ever built.
          %img( style="height:500px; float:right; margin-right:75px" src="img/devlink/deming/internet.jpg" )

      #variation-4.step(data-x="3000" data-y="1000" style="height:500px")
        %div(style="position:absolute; margin-top:-175px; color:#666;")
          Spent the last 3 years reducing variation.
        %div(style="margin-top:-75px")
          %img( style="height:550px" src="img/devlink/deming/PreviousCompany.png" )

      #variation-5.step(data-x="3000" data-y="1000" style="height:500px")
        %div(style="position:absolute; margin-top:-175px; color:#666;")
          Hardest years of my career... to get here:
        %div(style="margin-top:-75px")
          %img( style="height:550px" src="img/devlink/deming/PreviousCompanyAfter.png" )

      #modern-web-designs.step(data-scale="150" data-x="60000" data-y="12000" data-rotate=90)
        %div.boxed(style="width:790px")
          %h1 WEB ARCHITECTURES
          %h2
            %span.dim +
            PRG (post redirect get)
          %h2
            %span.dim +
            PJAX / Partial Rendering
          %h2
            %span.dim +
            AJAX / AJAJ
          %h2
            %span.dim +
            Single page app + REST API
          %h2
            %span.dim +
            Single page app + Synchronizing services


      #yeoman.step(data-scale="100" data-x="500000" data-y="50000" data-rotate=180)
        %img(src="img/devlink/yeoman.png")

      -##bored.step(data-x="-1000" data-y = "-1500")
      -#  %q
      -#    Aren't you just
      -#    %b bored
      -#    with all those slides-based presentations?
      -#  %h1.line Did you notice?
      -#  #works-on-divs-too
      -#    .substep You can go backward still!
      -#    .substep If you can't figure out how
      -#    .substep look at the arrow keys
      -#    .substep and think about it real hard...
      -#
      -#.step.slide( data-x="0" data-y="-1500")
      -#  %q
      -#    Don't you think that presentations given
      -#    %strong in modern browsers
      -#    shouldn't
      -#    %strong copy the limits
      -#    of 'classic' slide decks?
      -#
      -#.step.slide( data-x = "1000" data-y = "-1500")
      -#  %q
      -#    Would you like to
      -#    %strong impress your audience
      -#    with
      -#    %strong stunning visualization
      -#    of your talk?
      -#
      -##title.step( data-scale = "3" data-x = "0" data-y = "0")
      -#  %span.try then you should try
      -#  %h1
      -#    impress.js
      -#    %sup *
      -#  %span.footnote
      -#    %sup *
      -#    no rhyme intended
      -#
      -##its.step(data-rotate = "90" data-scale = "5" data-x = "850" data-y = "3000")
      -#  %p
      -#    It's a
      -#    %strong presentation tool
      -#    %br/
      -#    inspired by the idea behind
      -#    %a(href = "http//prezi.com") prezi.com
      -#    %br/
      -#    and based on the
      -#    %strong power of CSS3 transforms and transitions
      -#    in modern browsers.
      -#
      -##big.step(data-rotate="180" data-scale="6" data-x="3500" data-y= "2100")
      -#  %p
      -#    visualize your
      -#    %b big
      -#    %span.thoughts thoughts
      -#
      -##tiny.step(data-rotate="300" data-scale="1" data-x="2825" data-y="2325" data-z="-3000")
      -#  %p
      -#    and
      -#    %b tiny
      -#    ideas
      -#
      -##ing.step(data-rotate="270" data-scale="6" data-x="3500" data-y="-850")
      -#  %p
      -#    by
      -#    = succeed "," do
      -#      %b.positioning positioning
      -#    %b.rotating rotating
      -#    and
      -#    %b.scaling scaling
      -#    them on an infinite canvas
      -#
      -##imagination.step(data-scale="6" data-x="6700" data-y="-300")
      -#  %p
      -#    the only
      -#    %b limit
      -#    is your
      -#    %b.imagination imagination
      -#
      -##source.step(data-rotate="20" data-scale="4" data-x="6300" data-y="2000")
      -#  %p want to know more?
      -#  %q
      -#    %a(href = "http//github.com/bartaz/impress.js")> use the source
      -#    , Luke!
      -#
      -##one-more-thing.step(data-scale = "2" data-x = "6000" data-y = "4000")
      -#  %p one more thing...
      -#
      -##its-in-3d.step(data-rotate-x = "-40" data-rotate-y = "10" data-scale = "2" data-x = "6200" data-y = "4300" data-z = "-100")
      -#  %p
      -#    %span.have have
      -#    %span.you you
      -#    %span.noticed noticed
      -#    %span.its it's
      -#    %span.in in
      -#    = succeed "?" do
      -#      %b
      -#        3D
      -#        %sup *
      -#  %span.footnote * beat that, prezi ;)


    .hint
      %p Use a spacebar or arrow keys to navigate
      :javascript
        if ("ontouchstart" in document.documentElement) (
          document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>"
        )

  %script(src = "components/impressjs/js/impress.js")
  %script(src = "components/google-code-prettify/src/prettify.js")
  %script(src = "components/jquery/jquery.min.js")
  %script(src = "components/underscore/underscore-min.js")
  %script(src = "components/underscore.string/lib/underscore.string.js")
  %script(src = "scripts/presentation/coffeescript_compiler.js")
  %script(src = "scripts/presentation/hamlmin.js")

  :javascript
    impress().init();

    $(".panel").each(function(index){
      var $this = $(this),
        content = $this.html();

      if(index % 2 == 0){ /*even on left*/
        $this.addClass("l");
      }else{
        $this.addClass("r");
      }

      $(this).html("");
      $('<div class="result" hidden></div>').appendTo(this).html(content);
      $('<div class="code"></div>').appendTo(this).html(content);
    });

    // cache unadulterated code in data
    $("pre.prettyprint").each(function(el){

       var $this = $(this),
           js = $this.text();

       if( $this.hasClass("coffee") ){
         js = CoffeeScript.compile(js);
       }

       if($this.hasClass("no")){
         return;
       }

       $this.data("code", js);
    });

    $(".result").click(function(){
      $(this).hide();
      $(".code").fadeIn();
    })

    // on click eval
    $("pre").on("click", function(){
      var js;

      $this = $(this);

      if($this.hasClass("clicked")){

        $this.removeClass("clicked");
        $(".result").hide(200, function(){ $(".code").fadeIn() });

      } else {
        var p = $this.closest(".panel"),
            step = $this.closest(".step"),
            $step = $(step),
            $p = $(p),
            $resultPanel,
            $result;

        if($p.hasClass("l")){
          $resultPanel = $step.find(".panel.r");
        }else{
          $resultPanel = $step.find(".panel.l");
        }
        $result = $($resultPanel.find(".result"));

        window.$out = { html : function(str){
                                  var fn = haml.compileHaml({source: str});
                                  $result.html(fn());
                                  return $out;
                                },
                        append: function(str){
                                  var fn = haml.compileHaml({source: str});
                                  $result.append("<br/> " + fn());
                                  return $out;
                                }
                       };

        $resultPanel.find(".code").hide(); $result.fadeIn();

        $this.addClass("clicked");
        js = $this.data("code");
        eval(js);

      }
      return false;
    });

    $(".runMe").click().click();

    // pretty format the code
    prettyPrint();