!!! 5
%html
  %head
    %meta( charset = "utf-8")/
    %meta( content = "IE=edge,chrome=1" http-equiv= "X-UA-Compatible")/
    %title
    %meta( content = "" name = "description")/
    %meta( content = "width=device-width" name= "viewport")/
    %link( href = "components/bootstrap/dist/css/bootstrap.min.css" rel = "stylesheet")/


  %body(ng-app="phonecatApp")
    I am here
    %script( src = "components/jquery/jquery.min.js" )
    %script( src = "components/underscore/underscore.js" )

    %script( src = "components/angular/angular.min.js" )
    %script( src = "components/angular-route/angular-route.js" )
    -#  %script( src = "components/angular-resource/angular-resource.js" )

    %script( src = "scripts/angular_app.js")
    -#%script( src = "scripts/controllers/boards_controller.js")













