/ Modal
#manageRelease.modal.fade(aria-hidden="true" aria-labelledby="Create Release" role="dialog" tabindex="-1" ng-cloak)
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close(data-dismiss="modal" type="button")
          %span(aria-hiddena="true") ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title
          Manage Releases

      .modal-body

        .well(ng-class="{'hide':!release}")
          .panel.panel-info
            .panel-heading
              %h3.panel-title {{ mode.title }} Release
            .panel-body
              %form.form-horizontal(role="form" )
                .form-group
                  %label.col-sm-2.control-label(for="inputName") Release name
                  .col-sm-10
                    %input#inputName.form-control(ng-model="release.name" placeholder="Name" required=true)/

                .form-group
                  %label.col-sm-2.control-label(for="cost") Cost
                  .col-sm-5(style="padding-left:10px; padding:5px")
                    {{release.cost | currency:"$"}}

                .form-group
                  %label.col-sm-2.control-label(for="cost") Velocity
                  .col-sm-5(style="padding-left:10px; padding:5px")
                    {{release.total_velocity}}

                .form-group
                  %label.col-sm-2.control-label(for="inputDescription") Description
                  .col-sm-10
                    %input#inputDescription.form-control( ng-model="release.description" placeholder="Description" )/

                .form-group
                  %label.col-sm-2.control-label(for="inputReleaseDate" ) Release Date
                  .col-sm-10
                    %div.input-group.date
                      %input#release-date.datepicker.form-control( type="text" ng-model="release.release_date" required=true)
                        %span.input-group-addon
                          %i.glyphicon.glyphicon-th

                .form-group
                  %label.col-sm-2.control-label Sprints
                  .col-sm-10

                    .panel.panel-info(ng-class="{'hide': !release.sprints.length}")
                      .panel-heading
                        %h3.panel-title
                          Sprints included in release
                          %span.very-quiet (click to remove)
                          %span(style="color:black")  Cost {{release.cost | currency:"$"}}
                      .panel-body
                        %table.table.table-striped.table-hover
                          %tbody
                            %tr( ng-repeat="sprint in release.sprints" style="cursor: pointer" ng-click="removeSprintFromRelease(sprint)" )
                              %td
                                {{sprint.name}}
                                %span.very-quiet : {{ formatDate( sprint.start_date ) }} - {{ formatDate( sprint.end_date ) }}
                              %td.col-md-2 {{ sprint.total_velocity }}
                              %td.col-md-2 {{sprint.cost | currency:"$"}}

                    .panel.panel-warning.hide(ng-class="{'hide': !sprints.length}")
                      .panel-heading
                        %h3.panel-title
                          Available Sprints
                          %span.quiet (click to add)
                          %span(style="color:black") Calculated Cost {{unreleased_sprint_costs | currency:"$"}}

                      .panel-body
                        %table.table.table-striped.table-hover
                          %tbody
                            %tr( ng-repeat="sprint in sprints" style="color:#666; cursor: pointer" ng-click="addSprintToRelease(sprint)" )
                              %td {{ sprint.name }} : {{ formatDate( sprint.start_date ) }} - {{ formatDate( sprint.end_date ) }}
                              %td.col-md-2 {{ sprint.total_velocity }}
                              %td.col-md-2 {{ sprint.cost | currency:"$" }}

                    .alert.alert-danger.hide( ng-cloak=true role="alert" ng-class="{'hide': release.sprints.length || sprints.length}")
                      No closed sprints available.
                      Perhaps sprints are wrongfully added to another release

                .form-group
                  .col-sm-offset-2.col-sm-8
                    %button.btn.btn-primary( ng-disabled="!canSave()" type="submit" ng-click="saveRelease()")
                      Save
                    %button.btn.btn-default(ng-click="cancelRelease()" formnovalidate) Cancel
                  .col-sm-2
                    %button.hide.btn.btn-danger(ng-class="{'hide': mode.action != 'update'}" ng-click="deleteRelease()" formnovalidate) Delete
                .form-group
                  .col-sm-offset-2.col-sm-8
                    .alert.alert-warning(ng-class="{'hide': canSave()}")
                      Can't save unless Release Name & Date are filled out

        .panel.panel-default
          .panel-body
            %button(ng-click="newRelease()") Create a NEW release

        .alert.alert-info( role="alert" ng-class="{'hide': releases && releases.length}")
          There are no releases for this board

        %div.hide(ng-class="{'hide': !releases || !releases.length}")
          %table.table.table-striped.table-hover
            %thead
              %tr
                %td Release Name
                %td Description
                %td Date
                %td Cost
                %td Velocity
                %td Sprints

            %tbody
              {{releases.length}}
              %tr( ng-repeat="release in releases" style="cursor: pointer" ng-click="editRelease(release)" )
                %td {{release.name}}
                %td {{release.description}}
                %td {{release.release_date}}
                %td
                  %span(ng-class="{'hide':!release.cost }") {{release.cost | currency:"$"}}
                  %span(ng-class="{'hide':release.cost || !release.calculated_cost}")
                    %span {{release.cost | currency:"$"}}
                %td {{ release.total_velocity }}
                %td
                  %span( ng-repeat="sprint in release.sprints" )
                    {{sprint.name}}{{$last ? '' : ', '}}

      .modal-footer
        %button.btn.btn-default(data-dismiss="modal" type="button") Close
