%div.grid.ng-cloak
  %div.btn-group
    %button.btn(ng-click="all()") All
    %button.btn(ng-click="none()") None
    %button.btn.btn-primary(ng-click="submit()") Ok

  %div.row.board-groups(ng-repeat="board in grid.slice($index*numPerRow)")
    %div(ng-repeat="board in grid.slice($index*numPerRow) | limitTo:numPerRow")
      %div.board-group{ :class => "{{ 'span' + columnWidth }}" }
        %div{:id => "{{ 'board-' + board.id }}", "ng-click" => "toggle(board.id)"}
          {{ board.name }}
        %div.controls
          %label.checkbox(ng-repeat="sprint in board.sprints")
            %input(type="checkbox" value="{{sprint.id}}" ng-model="sprint.isChecked" ) {{ sprint.name }}
