
%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-2", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand {{board.name}}
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      %form.navbar-form.navbar-left
        .form-group
          .btn-group
            %button.btn.btn-primary( ng-click="releaseManager.open()")
              Manage Releases
            %button.btn.btn-primary( ng-click="categoryManager.open()")
              Manage Categories

      .navbar-form.nav.navbar-nav.navbar-right
        .btn-group
          %button.btn.btn-default( ng-click="detail=true" ng-class="{'active':detail}" type="button" ) DETAIL ON
          %button.btn.btn-default( ng-click="detail=false" ng-class="{'active':!detail}" type="button" ) OFF

      .navbar-form.nav.navbar-nav.navbar-right
        %button.btn.btn-default( ng-class="{'hide':edit}" ng-click="editBoard()" ) Edit
        %button.btn.btn-warning( ng-class="{'hide':!edit}" ng-click="cancelEdit()" ) Close Edit

  .well
    %form.form-inline
      .form-group
        %label(for="fromDate") From
        %select.form-control#fromDate(ng-model="dateRange.from" ng-options="i.name + ' : ' + i.date for i in events")
      .form-group
        %label(for="fromDate") To
        %select.form-control#toDate(ng-model="dateRange.to" ng-options="i.name + ' : ' + i.date for i in events")



%release-management( board="board" control="releaseManager" )
%category-management( board="board" control="categoryManager" )


.panel.panel-default(ng-class="{'hide':!edit}")
  .panel-heading
    %h3.panel-title Board Detail
  .panel-body
    %form.form-horizontal(role="form" )
      .form-group
        %label.col-sm-2.control-label(for="inputName") Board name
        .col-sm-10
          %input#inputName.form-control(ng-model="board.name" placeholder="Name" required=true)/

      .form-group
        %label.col-sm-2.control-label(for="cost") Run Rate: $ per sprint
        .row
          .col-sm-5
            .input-group
              .input-group-addon $
              %input#cost.form-control(ng-model="board.run_rate_cost" placeholder="cost" size="30" required=true type="text" tep="0.01" name="cost"  )/

          .col-sm-4(style="padding:5px")
            {{board.run_rate_cost | currency:"$"}}

      .form-group
        .col-sm-offset-2.col-sm-8
          .alert.alert-info(ng-class="{'hide': canSaveBoard()}")
            If you enter the cost, release cost can be calculated per sprint.

      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary(ng-disabled="!canSaveBoard()" ng-click="saveBoard()") Save
          %button.btn.btn-warning( ng-click="edit=false" ) Cancel

.row
  %release-and-costs( board="board" )

.row
  %div.col-md-6#velocity(style="min-width: 310px; height: 400px; margin: 0 auto")
  %div.col-md-6#velocityPercent(style="min-width: 310px; height: 400px; margin: 0 auto")

%table.table.table-striped.table-hover( ng-class="{ 'hide' : !detail }" )
  %thead
    %tr
      %td sprint name

      %td(ng-repeat="category in board.categories") {{category.name}}
      %td total
      %td(ng-repeat="category in board.categories") {{category.name}} %



  %tbody
    %tr( ng-repeat="stat in stats" )
      %td {{stat.sprint_name}}
      %td(ng-repeat="category in board.categories") {{stat["cat_" + category.id + "_velocity"] }}
      %td {{stat.total_velocity}}
      %td(ng-repeat="category in board.categories") {{stat["cat_" + category.id + "_percentage_velocity"] }}

.row
  %div.col-md-6#counts(style="min-width: 310px; height: 400px; margin: 0 auto")
  %div.col-md-6#countsPercent(style="min-width: 310px; height: 400px; margin: 0 auto")

%table.table.table-striped.table-hover( ng-class="{ 'hide' : !detail }" )
  %thead
    %tr
      %td sprint name
      %td feature
      %td enhancement
      %td bug
      %td total
      %td feature %
      %td enhancements %
      %td bug %

  %tbody
    %tr( ng-repeat="stat in stats" ng-click="href(board)" style="cursor: pointer" )

      %td {{stat.sprint_name}}
      %td {{stat.feature_count}}
      %td {{stat.enhancement_count}}
      %td {{stat.bug_count}}
      %td {{stat.total_count}}
      %td {{stat.feature_percentage_count}}%
      %td {{stat.enhancements_percentage_count}}%
      %td {{stat.bug_percentage_count}}%



