
%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-2", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand {{state.board.name}}

      .navbar-form.nav.navbar-nav.navbar-left
        %form.form-inline
          .form-group
            %label(for="fromDate") From
            %select.form-control#fromDate(ng-model="state.eventRange.from" ng-options="i.dateString + ' : ' + i.event.name + ' - ' + i.type for i in state.sprintEvents")
          .form-group
            %label(for="fromDate") To
            %select.form-control#toDate(ng-model="state.eventRange.to" ng-options="i.dateString + ' : ' + i.event.name + ' - ' + i.type for i in state.sprintEvents")
          %button.btn.btn-info( ng-click="filter()" ng-disabled="!canFilter()") Filter

    .collapse.navbar-collapse
      .navbar-form.pull-right.navbar-right
        .btn-group
          %button( type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" )
            %span.glyphicon.glyphicon-asterisk
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
            %li{:role => "presentation"}
              -#%a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
              %a( ng-class="{'hide':edit}" ng-click="editBoard()" ) Edit
              %a( ng-class="{'hide':!edit}" ng-click="cancelEdit()" ) Close Edit
            %li{:role => "presentation"}
              %a( ng-click="detail=!detail" )
                %span( ng-class="{'hide':detail}" ) Show Detail
                %span( ng-class="{'hide':!detail}" ) Hide Detail
            %li.divider{:role => "presentation"}
            %li( role="presentation" )
              %a(  ng-click="categoryManager.open()" ) Manage Categories
            %li( role="presentation" )
              %a( ng-click="releaseManager.open()") Manage Releases


%br
.row
  %ul.col-md-12.nav.nav-tabs{:role => "tablist"}
    %li(ng-class="{active: agilyticsContext == 'stats'}")
      %a(href="#/boards/{{board.id}}/stats?from={{dateRange.from}}&to={{dateRange.to}}") Board Stats
    %li(ng-class="{active: agilyticsContext == 'team'}")
      %a(href="#/boards/{{board.id}}/team?from={{dateRange.from}}&to={{dateRange.to}}") Team Members


%div( ui-view )

