.bs-example
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Board Name
        %th Last Updated
        %th
          Analyze
          %br Sprints
        %th
          Analyze
          %br Backlog
    %tbody
      %tr( ng-repeat="board in boards" ng-click="href(board)" style="cursor: pointer" )
        %td {{$index}}
        %td {{board.name}}
        %td {{board.last_updated}}
        %td
          %input( type="checkbox" style='height:25px; width:45px' ng-model="board.to_analyze")
        %td
          %input( type="checkbox" style='height:25px; width:45px' ng-model="board.to_analyze_backlog")

