%hr
%h1 {{board.name}}
%div(id="{{board.jid}}-sprints-graph" style="min-width: 400px; height: {{ board.sprints.length * 15 + 125}}px; margin: 0 auto")
%table
  %tr
    %th(ng-repeat="header in headers")
      {{header}}
