%div.ng-cloak
  %div.hero-unit(ng-repeat="board in cube.boardsWithSprints")
    %assignee-board-summary(boards="cube.boardsWithSprints" assignees="cube.assignees" board="board")
    %br
    %board-summary(board="board")
    %br(style="margin-top:10px")




