%assignee-board-summary(boards="cube.boardsWithSprints" assignees22="cube.assignees" assignees="cube.assignees" enddatetime="cube.endOfLastSprint" )
%div(ng-repeat="board in cube.boardsWithSprints")
  %board-summary(board="board")

