%br
%assignee-board-summary(boards="cube.boardsWithSprints" assignees22="cube.assignees" assignees="cube.assignees" enddatetime="cube.endOfLastSprint" )
%br
%div(ng-repeat="board in cube.boardsWithSprints")
  %div.hero-unit
    %board-summary(board="board")

