<!DOCTYPE html>
<html ng-app="agilytics">
<head>
  <title>Agilytics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>   
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class=container>
    <div ng-controller="MetricsController" >

        <!-- <chosen-boards ></chosen-boards> -->
        <!-- <chosen-sprints ></chosen-sprints> -->
        <sprint-grid></sprint-grid>

        <span ng-repeat="board in boards.selectedBoardList">{{board.name}}</span>
    </div>
    <%= yield %>
  </div>
</body>
</html>
