!!!
%html{"ng-app" => "agilytics"}
  %head
    %title Agilytics
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / Begin Nav
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"}
            %img{:src => "/assets/logo.gif"}/

          %ul.nav
            %li{"ng-class" => "{ active: $state.includes('') }"}
              %a{:href => "#/all"} All
            %li{"ng-class" => "{ active: $state.includes('') }"}
              %a{:href => "#/boards"} Boards
            %li{"ng-class" => "{ active: $state.includes('') }"}
              %a{:href => "#/assignees"} Boards


          %p.navbar-text.pull-right{"ui-view" => "hint"}
    / end Nav
    .container{:style => "margin-top:40px", "ui-view" => ""}
    = yield