<!DOCTYPE html>
<html ng-app="agilytics">
<head>
  <title>Agilytics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <!-- Begin Nav -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><img src="/assets/logo.gif"></img></a>
          <ul class="nav">
            <li ng-class="{ active: $state.includes('') }"><a href="#/contacts">Start</a></li>
            <li ng-class="{ active: $state.includes('') }"><a href="#/about">Ends</a></li>
          </ul>
          <p class="navbar-text pull-right" ui-view="hint"></p>
      </div>
    </div>
  </div>
  <!-- end Nav -->
  <div ui-view class=container style="margin-top:40px" ></div>
  <%= yield %>

</body>
</html>
